nodered/flows/composition.json
[{"id":"bcd70330.d9a8c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8875b6d.aef6348","type":"http request","z":"bcd70330.d9a8c","name":"http://nodered:1880/sensors","method":"GET","ret":"txt","url":"http://nodered:1880/sensors","tls":"","x":460,"y":260,"wires":[["801124fc.8bc6a","a8d5da13.61fc6"]]},{"id":"dd952323.c02ff","type":"inject","z":"bcd70330.d9a8c","name":"Call API","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":true,"onceDelay":0.1,"x":240,"y":260,"wires":[["8875b6d.aef6348"]]},{"id":"e71f87b2.cb85c","type":"http request","z":"bcd70330.d9a8c","name":"","method":"GET","ret":"txt","url":"https://api.thingspeak.com/update?api_key={{API_key}}&{{field1}}={{value1}}&{{field2}}={{value2}}&created_at={{creationdate}}","tls":"","x":1010,"y":400,"wires":[["dc8b9e08.43a2c"]]},{"id":"daa77ebb.9ea08","type":"change","z":"bcd70330.d9a8c","name":"Set ThingSpeak API key","rules":[{"t":"set","p":"API_key","pt":"msg","to":"T5Q5WLDQKSEOPBZL","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":400,"wires":[["e71f87b2.cb85c"]]},{"id":"dc8b9e08.43a2c","type":"debug","z":"bcd70330.d9a8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1230,"y":400,"wires":[]},{"id":"5cf4ab87.0f9a84","type":"function","z":"bcd70330.d9a8c","name":"","func":"msg.field1 = \"field1\";\nmsg.value1 = msg.payload['temperature'][0];\nmsg.field2 = \"field2\";\nmsg.value2 = msg.payload['temperature'][1];\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":400,"wires":[["daa77ebb.9ea08"]]},{"id":"75963e63.0d73a8","type":"function","z":"bcd70330.d9a8c","name":"inject timestamp","func":"var date = new Date();\nmsg.creationdate = date.toISOString(); \nreturn msg;","outputs":1,"noerr":0,"x":960,"y":280,"wires":[["5cf4ab87.0f9a84"]]},{"id":"801124fc.8bc6a","type":"debug","z":"bcd70330.d9a8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":120,"wires":[]},{"id":"a8d5da13.61fc6","type":"json","z":"bcd70330.d9a8c","name":"","property":"payload","action":"","pretty":false,"x":730,"y":260,"wires":[["75963e63.0d73a8"]]}]
