nodered/flows/gateway.json
[{"id":"f4fd0be6.c6ad08","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cc9b8abc.a3192","type":"debug","z":"f4fd0be6.c6ad08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":941,"y":84,"wires":[]},{"id":"dbce038c.39058","type":"inject","z":"f4fd0be6.c6ad08","name":"Radio RX","topic":"","payload":"radio rx 0","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"10","x":524,"y":81,"wires":[["cc9b8abc.a3192","54bcff3b.70654"]]},{"id":"54bcff3b.70654","type":"lorawan-tx","z":"f4fd0be6.c6ad08","name":"","loraWAN":"912733c5.0d2228","x":955,"y":139,"wires":[]},{"id":"8880deb.3ae352","type":"lorawan-rx","z":"f4fd0be6.c6ad08","name":"","loraWAN":"912733c5.0d2228","x":519,"y":283,"wires":[["18fc52a4.cc783d","894da22a.0c7128"]]},{"id":"18fc52a4.cc783d","type":"function","z":"f4fd0be6.c6ad08","name":"Convert to ASCII","func":"msg.payload = msg.payload.toString('ascii');\nreturn msg;","outputs":1,"noerr":0,"x":746,"y":283,"wires":[["85660901.2fe05"]]},{"id":"894da22a.0c7128","type":"change","z":"f4fd0be6.c6ad08","name":"radio RX","rules":[{"t":"set","p":"payload","pt":"msg","to":"radio rx 0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":691.5,"y":146,"wires":[["54bcff3b.70654","cc9b8abc.a3192"]]},{"id":"385a9ab1.94d6de","type":"function","z":"f4fd0be6.c6ad08","name":"LoRaHexToASCII","func":"function hex_to_ascii(str1)\n {\n\tvar hex  = str1.toString();\n\tvar str = '';\n\tfor (var n = 0; n < hex.length; n += 2) {\n\t\tstr += String.fromCharCode(parseInt(hex.substr(n, 2), 16));\n\t}\n\treturn str;\n }\n \nmsg.payload = hex_to_ascii(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":1213.5,"y":46,"wires":[[]]},{"id":"85660901.2fe05","type":"switch","z":"f4fd0be6.c6ad08","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"^radio_rx ","vt":"str","case":false},{"t":"eq","v":"radio_err","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":543.5,"y":623,"wires":[["8fe49175.886bd8"],["625647c0.e0bcf8"],["65bc7dba.6510b4"]]},{"id":"1e67ee64.848c9a","type":"debug","z":"f4fd0be6.c6ad08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1449.5,"y":472,"wires":[]},{"id":"163e0ff4.1a56b","type":"msgpack","z":"f4fd0be6.c6ad08","name":"","x":1268.5,"y":554,"wires":[["1e67ee64.848c9a","d789bfe7.bddb28","bbf2c16.1d7ecc"]]},{"id":"9b79d5b9.f733","type":"function","z":"f4fd0be6.c6ad08","name":"HexToBuffer","func":"msg.payload = Buffer.from(msg.payload, \"hex\")\nreturn msg;","outputs":1,"noerr":0,"x":1093.5,"y":554,"wires":[["163e0ff4.1a56b"]]},{"id":"8fe49175.886bd8","type":"change","z":"f4fd0be6.c6ad08","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"radio_rx  ","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":878.5,"y":555,"wires":[["9b79d5b9.f733"]]},{"id":"625647c0.e0bcf8","type":"debug","z":"f4fd0be6.c6ad08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":846.5,"y":678,"wires":[]},{"id":"65bc7dba.6510b4","type":"debug","z":"f4fd0be6.c6ad08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":824.5,"y":802,"wires":[]},{"id":"8b81a1f1.709d5","type":"http in","z":"f4fd0be6.c6ad08","name":"/sensors","url":"/sensors","method":"get","upload":false,"swaggerDoc":"","x":513.5,"y":1001,"wires":[["7b02537a.a8b1f4"]]},{"id":"dab93b16.d4a268","type":"http response","z":"f4fd0be6.c6ad08","name":"","statusCode":"","headers":{},"x":1153.5,"y":1002,"wires":[]},{"id":"7b02537a.a8b1f4","type":"function","z":"f4fd0be6.c6ad08","name":"Fetch global state","func":"msg.payload = {\n    light: flow.get(\"light\"),\n    weight: flow.get(\"weight\"),\n    temperature: flow.get(\"temperature\"),\n    humidity: flow.get(\"humidity\")\n}\nreturn msg;","outputs":1,"noerr":0,"x":731.5,"y":1002,"wires":[["329bcc9f.b9a48c"]]},{"id":"329bcc9f.b9a48c","type":"template","z":"f4fd0be6.c6ad08","name":"Sensors HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Light</h1>\n<ul>{{#payload.light}}\n    <li>{{.}}</li>\n{{/payload.light}}</ul>\n\n<h1>Weight</h1>\n<ul>{{#payload.weight}}\n    <li>{{.}}</li>\n{{/payload.weight}}</ul>\n\n<h1>Temperature</h1>\n<ul>{{#payload.temperature}}\n    <li>{{.}}</li>\n{{/payload.temperature}}</ul>\n\n<h1>Humidity</h1>\n<ul>{{#payload.humidity}}\n    <li>{{.}}</li>\n{{/payload.humidity}}</ul>","output":"str","x":954.5,"y":1001,"wires":[["dab93b16.d4a268"]]},{"id":"d789bfe7.bddb28","type":"function","z":"f4fd0be6.c6ad08","name":"Store global state","func":"flow.set(\"light\", msg.payload[0]);\nflow.set(\"weight\", msg.payload[1]);\nflow.set(\"temperature\", msg.payload[2]);\nflow.set(\"humidity\", msg.payload[3]);\nreturn msg;","outputs":1,"noerr":0,"x":1501.5,"y":554,"wires":[[]]},{"id":"46af3132.3588c8","type":"inject","z":"f4fd0be6.c6ad08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":517.5,"y":1108,"wires":[["e04e10ef.5c2eb"]]},{"id":"e04e10ef.5c2eb","type":"function","z":"f4fd0be6.c6ad08","name":"Store global state","func":"flow.set(\"light\", [32, 88.8, 9, -1]);\nflow.set(\"weight\", [2, 77, -3.3, 0]);\nflow.set(\"temperature\", [27, 40.5]);\nflow.set(\"humidity\", [50, 90.9]);\nreturn msg;","outputs":1,"noerr":0,"x":762,"y":1107,"wires":[[]]},{"id":"b07a1cc8.15c3d","type":"comment","z":"f4fd0be6.c6ad08","name":"Receive LoRa packets (and rearm automatically)","info":"","x":538.5,"y":33,"wires":[]},{"id":"6b0405ec.61f0e4","type":"comment","z":"f4fd0be6.c6ad08","name":"Process received data","info":"","x":776.5,"y":502,"wires":[]},{"id":"cfe5a517.e0b99","type":"comment","z":"f4fd0be6.c6ad08","name":"Process receive error","info":"","x":771.5,"y":630,"wires":[]},{"id":"3d64d1be.ea2a06","type":"comment","z":"f4fd0be6.c6ad08","name":"Process unknown result","info":"","x":784.5,"y":732,"wires":[]},{"id":"c273554f.e195c8","type":"comment","z":"f4fd0be6.c6ad08","name":"Generate summary page on /sensors","info":"","x":532.5,"y":956,"wires":[]},{"id":"ebe743f0.d7b2f8","type":"http request","z":"f4fd0be6.c6ad08","name":"","method":"GET","ret":"txt","url":"https://api.thingspeak.com/update?api_key={{API_key}}&{{field}}={{value}}","tls":"","x":1577.5,"y":781,"wires":[[]]},{"id":"879f7414.c3baa8","type":"change","z":"f4fd0be6.c6ad08","name":"Set ThingSpeak API key","rules":[{"t":"set","p":"API_key","pt":"msg","to":"T5Q5WLDQKSEOPBZL","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1350.5,"y":781,"wires":[["ebe743f0.d7b2f8","9fca2694.fe8b9"]]},{"id":"bbf2c16.1d7ecc","type":"function","z":"f4fd0be6.c6ad08","name":"field1 = msg.payload[2][0]","func":"msg.field = \"field1\";\nmsg.value = msg.payload[2][0];\nreturn msg;","outputs":1,"noerr":0,"x":1290.5,"y":689,"wires":[["879f7414.c3baa8"]]},{"id":"9fca2694.fe8b9","type":"debug","z":"f4fd0be6.c6ad08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1541,"y":858,"wires":[]},{"id":"40876e20.ae3b5","type":"http request","z":"f4fd0be6.c6ad08","name":"","method":"GET","ret":"txt","url":"","tls":"","x":1178,"y":1282,"wires":[["3ecd5785.34d728"]]},{"id":"7d938ce3.132b34","type":"function","z":"f4fd0be6.c6ad08","name":"create request air quality","func":"//var api_key = flow.get(\"api_key\") || \"287aa53ac15f4f1881787c6fc2cd2ca3\"\nvar api_key =\"8c55f66ae6f1406f809f17a529ded06d\";\nvar longitude = String(msg.payload.longitude);\nvar latitude = String(msg.payload.latitude);\nvar dateTime = msg.payload.dateTime\nmsg.url = \"https://api.breezometer.com/air-quality/v2/historical/hourly?lat=\"+latitude+\"&lon=\"+longitude+\"&key=\"+api_key+\"&datetime=\"+dateTime+\"&features=breezometer_aqi,local_aqi,pollutants_concentrations\";\nreturn msg;","outputs":1,"noerr":0,"x":818,"y":1282,"wires":[["dfbf40d6.ed416","40876e20.ae3b5"]]},{"id":"2ede5dfa.e69e2a","type":"comment","z":"f4fd0be6.c6ad08","name":"air quality","info":"","x":508,"y":1242,"wires":[]},{"id":"3d3f93df.0cb70c","type":"inject","z":"f4fd0be6.c6ad08","name":":","topic":"","payload":"{\"longitude\":7.250000, \"latitude\":43.700000,\"dateTime\":\"2019-01-10T19:00:00\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":498,"y":1282,"wires":[["7d938ce3.132b34","6a4c2f9c.8125f"]]},{"id":"b11a557.9774228","type":"debug","z":"f4fd0be6.c6ad08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1518,"y":1222,"wires":[]},{"id":"dfbf40d6.ed416","type":"debug","z":"f4fd0be6.c6ad08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1018,"y":1222,"wires":[]},{"id":"6a4c2f9c.8125f","type":"debug","z":"f4fd0be6.c6ad08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":718,"y":1222,"wires":[]},{"id":"3ecd5785.34d728","type":"json","z":"f4fd0be6.c6ad08","name":"","property":"payload","action":"","pretty":false,"x":1338,"y":1282,"wires":[["b11a557.9774228"]]},{"id":"8178d91e.a13f1","type":"http request","z":"f4fd0be6.c6ad08","name":"","method":"GET","ret":"txt","url":"","tls":"","x":1178,"y":1462,"wires":[["81dce1fe.86037"]]},{"id":"82fd352e.4bfe5","type":"function","z":"f4fd0be6.c6ad08","name":"create request pollen quality","func":"//var api_key = flow.get(\"api_key\") || \"287aa53ac15f4f1881787c6fc2cd2ca3\"\nvar api_key =\"8c55f66ae6f1406f809f17a529ded06d\";\nvar longitude = String(msg.payload.longitude);\nvar latitude = String(msg.payload.latitude);\nvar dateTime = msg.payload.dateTime\nmsg.url = \"http://api.breezometer.com/pollen/real-time/?lat=\"+latitude+\"&lon=\"+longitude+\"&key=\"+api_key+\"&features=breezometer_aqi,local_aqi,pollutants_concentrations\";\nreturn msg;","outputs":1,"noerr":0,"x":828,"y":1462,"wires":[["62b9542d.4c28dc","8178d91e.a13f1"]]},{"id":"6e7cb0c7.bf16b8","type":"comment","z":"f4fd0be6.c6ad08","name":"pollen quality","info":"","x":518,"y":1422,"wires":[]},{"id":"7715f8e7.297c4","type":"inject","z":"f4fd0be6.c6ad08","name":":","topic":"","payload":"{\"longitude\":7.250000, \"latitude\":43.700000,\"dateTime\":\"2019-01-10T19:00:00\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":498,"y":1462,"wires":[["82fd352e.4bfe5","9e865f2.501952"]]},{"id":"a51fcfe9.29645","type":"debug","z":"f4fd0be6.c6ad08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1518,"y":1402,"wires":[]},{"id":"62b9542d.4c28dc","type":"debug","z":"f4fd0be6.c6ad08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1018,"y":1402,"wires":[]},{"id":"9e865f2.501952","type":"debug","z":"f4fd0be6.c6ad08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":718,"y":1402,"wires":[]},{"id":"81dce1fe.86037","type":"json","z":"f4fd0be6.c6ad08","name":"","property":"payload","action":"","pretty":false,"x":1338,"y":1462,"wires":[["a51fcfe9.29645"]]},{"id":"81b8d6e8.617658","type":"http request","z":"f4fd0be6.c6ad08","name":"","method":"GET","ret":"txt","url":"","tls":"","x":1178,"y":1622,"wires":[["cb1dba8f.71e9"]]},{"id":"2d7dc0e.ec28cc","type":"function","z":"f4fd0be6.c6ad08","name":"create request meteo","func":"//var api_key = flow.get(\"api_key\") || \"287aa53ac15f4f1881787c6fc2cd2ca3\"\nvar api_key =\"8d9d34e9b2ae7df1709dc94ec3ce4206\";\nvar longitude = String(msg.payload.longitude);\nvar latitude = String(msg.payload.latitude);\nvar dateTime = msg.payload.dateTime;\nmsg.url = \"http://api.openweathermap.org/data/2.5/weather?lat=\"+latitude+\"&lon=\"+longitude+\"&APPID=\"+api_key;\nreturn msg;","outputs":1,"noerr":0,"x":808,"y":1622,"wires":[["3b5aae2a.2e898a","81b8d6e8.617658"]]},{"id":"16810582.e2f622","type":"comment","z":"f4fd0be6.c6ad08","name":"meteo ","info":"","x":498,"y":1582,"wires":[]},{"id":"1d0effea.dad4a8","type":"inject","z":"f4fd0be6.c6ad08","name":":","topic":"","payload":"{\"longitude\":7.250000, \"latitude\":43.700000,\"dateTime\":\"2019-01-10T19:00:00\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":498,"y":1622,"wires":[["2d7dc0e.ec28cc","f4ee4155.1150f8"]]},{"id":"44125c38.9b08ac","type":"debug","z":"f4fd0be6.c6ad08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1518,"y":1562,"wires":[]},{"id":"3b5aae2a.2e898a","type":"debug","z":"f4fd0be6.c6ad08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1018,"y":1562,"wires":[]},{"id":"f4ee4155.1150f8","type":"debug","z":"f4fd0be6.c6ad08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":718,"y":1562,"wires":[]},{"id":"cb1dba8f.71e9","type":"json","z":"f4fd0be6.c6ad08","name":"","property":"payload","action":"","pretty":false,"x":1338,"y":1622,"wires":[["44125c38.9b08ac"]]},{"id":"ec2252ce.47404","type":"mongodb-node","z":"f4fd0be6.c6ad08","mongodb":"fddd6690.1e44c8","name":"","collection":"","operation":"insert","upsert":false,"multi":false,"x":687,"y":1766,"wires":[["5c663b02.0b22ec"]]},{"id":"1a5cc7d9.62fce","type":"inject","z":"f4fd0be6.c6ad08","name":"","topic":"","payload":"{\"light\":\"0\",\"weight\":\"0\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":423,"y":1766,"wires":[["ec2252ce.47404"]]},{"id":"5c663b02.0b22ec","type":"debug","z":"f4fd0be6.c6ad08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":933,"y":1762,"wires":[]},{"id":"912733c5.0d2228","type":"lorawan-config","z":"","rawFrames":false,"mode":"2","modeP2P_radioPwr":"15","modeP2P_radioFreq":"868100000","modeP2P_radioSf":"sf12","modeP2P_radioCr":"4/5","modeP2P_radioBw":"125","modeP2P_radioCRC":"on","serialPort":"/dev/ttyAMA0","lock":true,"baudRate":"57600","dataBits":"8","stopBits":"1","parity":"none"},{"id":"fddd6690.1e44c8","type":"mongodb-config","z":"","hostname":"127.0.0.1","port":"27017","db":"sensor","name":""}]
