nodered/flows/gateway.json
[{"id":"f35459.79ad5ba8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"bc4b9f26.6b1c38","type":"debug","z":"f35459.79ad5ba8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":941,"y":84,"wires":[]},{"id":"95ce2054.02a5","type":"inject","z":"f35459.79ad5ba8","name":"Radio RX","topic":"","payload":"radio rx 0","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"10","x":524,"y":81,"wires":[["bc4b9f26.6b1c38","76799314.f4bcbc"]]},{"id":"76799314.f4bcbc","type":"lorawan-tx","z":"f35459.79ad5ba8","name":"","loraWAN":"27f12b0e.c64c8c","x":955,"y":139,"wires":[]},{"id":"a801885f.ba8c48","type":"lorawan-rx","z":"f35459.79ad5ba8","name":"","loraWAN":"27f12b0e.c64c8c","x":519,"y":283,"wires":[["b966ab22.a59ee","60777115.559fe"]]},{"id":"b966ab22.a59ee","type":"function","z":"f35459.79ad5ba8","name":"Convert to ASCII","func":"msg.payload = msg.payload.toString('ascii');\nreturn msg;","outputs":1,"noerr":0,"x":746,"y":283,"wires":[["3f889659.04889a"]]},{"id":"60777115.559fe","type":"change","z":"f35459.79ad5ba8","name":"radio RX","rules":[{"t":"set","p":"payload","pt":"msg","to":"radio rx 0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":691.5,"y":146,"wires":[["76799314.f4bcbc","bc4b9f26.6b1c38"]]},{"id":"11bd9f6a.d9ea41","type":"function","z":"f35459.79ad5ba8","name":"LoRaHexToASCII","func":"function hex_to_ascii(str1)\n {\n\tvar hex  = str1.toString();\n\tvar str = '';\n\tfor (var n = 0; n < hex.length; n += 2) {\n\t\tstr += String.fromCharCode(parseInt(hex.substr(n, 2), 16));\n\t}\n\treturn str;\n }\n \nmsg.payload = hex_to_ascii(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":1213.5,"y":46,"wires":[[]]},{"id":"3f889659.04889a","type":"switch","z":"f35459.79ad5ba8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"^radio_rx ","vt":"str","case":false},{"t":"eq","v":"radio_err","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":543.5,"y":623,"wires":[["afe6785f.6bb92"],["eb55a85.37daed8"],["2e7c73af.6afabc"]]},{"id":"f831ba4b.5c0048","type":"debug","z":"f35459.79ad5ba8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1449.5,"y":472,"wires":[]},{"id":"996787e0.adfca8","type":"msgpack","z":"f35459.79ad5ba8","name":"","x":1268.5,"y":554,"wires":[["f831ba4b.5c0048","2fbe3134.6852de"]]},{"id":"3899b111.72a20e","type":"function","z":"f35459.79ad5ba8","name":"HexToBuffer","func":"msg.payload = Buffer.from(msg.payload, \"hex\")\nreturn msg;","outputs":1,"noerr":0,"x":1093.5,"y":554,"wires":[["996787e0.adfca8"]]},{"id":"afe6785f.6bb92","type":"change","z":"f35459.79ad5ba8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"radio_rx  ","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":878.5,"y":555,"wires":[["3899b111.72a20e"]]},{"id":"eb55a85.37daed8","type":"debug","z":"f35459.79ad5ba8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":846.5,"y":678,"wires":[]},{"id":"2e7c73af.6afabc","type":"debug","z":"f35459.79ad5ba8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":824.5,"y":802,"wires":[]},{"id":"62b19921.b926","type":"http in","z":"f35459.79ad5ba8","name":"/sensors_html","url":"/sensors_html","method":"get","upload":false,"swaggerDoc":"","x":523.5,"y":1001,"wires":[["2f2ab4d2.7b6854"]]},{"id":"1f6cdeef.bf9cb9","type":"http response","z":"f35459.79ad5ba8","name":"","statusCode":"","headers":{},"x":1153.5,"y":1002,"wires":[]},{"id":"2f2ab4d2.7b6854","type":"function","z":"f35459.79ad5ba8","name":"Fetch global state","func":"msg.payload = {\n    light: flow.get(\"light\"),\n    weight: flow.get(\"weight\"),\n    temperature: flow.get(\"temperature\"),\n    humidity: flow.get(\"humidity\")\n}\nreturn msg;","outputs":1,"noerr":0,"x":731.5,"y":1002,"wires":[["39bbfd36.6602f2"]]},{"id":"39bbfd36.6602f2","type":"template","z":"f35459.79ad5ba8","name":"Sensors HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Light</h1>\n<ul>{{#payload.light}}\n    <li>{{.}}</li>\n{{/payload.light}}</ul>\n\n<h1>Weight</h1>\n<ul>{{#payload.weight}}\n    <li>{{.}}</li>\n{{/payload.weight}}</ul>\n\n<h1>Temperature</h1>\n<ul>{{#payload.temperature}}\n    <li>{{.}}</li>\n{{/payload.temperature}}</ul>\n\n<h1>Humidity</h1>\n<ul>{{#payload.humidity}}\n    <li>{{.}}</li>\n{{/payload.humidity}}</ul>","output":"str","x":954.5,"y":1001,"wires":[["1f6cdeef.bf9cb9"]]},{"id":"2fbe3134.6852de","type":"function","z":"f35459.79ad5ba8","name":"Store global state","func":"flow.set(\"light\", msg.payload[0]);\nflow.set(\"weight\", msg.payload[1]);\nflow.set(\"temperature\", msg.payload[2]);\nflow.set(\"humidity\", msg.payload[3]);\nreturn msg;","outputs":1,"noerr":0,"x":1501.5,"y":554,"wires":[[]]},{"id":"79687888.7fe79","type":"inject","z":"f35459.79ad5ba8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":517.5,"y":1108,"wires":[["b68ccab3.fda96"]]},{"id":"b68ccab3.fda96","type":"function","z":"f35459.79ad5ba8","name":"Store global state","func":"flow.set(\"light\", [32, 88.8, 9, -1]);\nflow.set(\"weight\", [2, 77, -3.3, 0]);\nflow.set(\"temperature\", [27, 40.5]);\nflow.set(\"humidity\", [50, 90.9]);\nreturn msg;","outputs":1,"noerr":0,"x":762,"y":1107,"wires":[[]]},{"id":"76e4c784.1ff2a8","type":"comment","z":"f35459.79ad5ba8","name":"Receive LoRa packets (and rearm automatically)","info":"","x":538.5,"y":33,"wires":[]},{"id":"54e17c60.e693a4","type":"comment","z":"f35459.79ad5ba8","name":"Process received data","info":"","x":776.5,"y":502,"wires":[]},{"id":"9e61a80d.bc7d18","type":"comment","z":"f35459.79ad5ba8","name":"Process receive error","info":"","x":771.5,"y":630,"wires":[]},{"id":"564f2c23.e028dc","type":"comment","z":"f35459.79ad5ba8","name":"Process unknown result","info":"","x":784.5,"y":732,"wires":[]},{"id":"bf3ff691.fccc68","type":"comment","z":"f35459.79ad5ba8","name":"Generate summary page on /sensors_html","info":"","x":552.5,"y":956,"wires":[]},{"id":"f181b01a.2f9c6","type":"http request","z":"f35459.79ad5ba8","name":"","method":"GET","ret":"txt","url":"","tls":"","x":1178,"y":1282,"wires":[["32c475f1.049432"]]},{"id":"583274a8.a52c7c","type":"function","z":"f35459.79ad5ba8","name":"create request air quality","func":"//var api_key = flow.get(\"api_key\") || \"287aa53ac15f4f1881787c6fc2cd2ca3\"\nvar api_key =\"8c55f66ae6f1406f809f17a529ded06d\";\nvar longitude = String(msg.payload.longitude);\nvar latitude = String(msg.payload.latitude);\nvar dateTime = msg.payload.dateTime\nmsg.url = \"https://api.breezometer.com/air-quality/v2/historical/hourly?lat=\"+latitude+\"&lon=\"+longitude+\"&key=\"+api_key+\"&datetime=\"+dateTime+\"&features=breezometer_aqi,local_aqi,pollutants_concentrations\";\nreturn msg;","outputs":1,"noerr":0,"x":818,"y":1282,"wires":[["ea16d9b1.315d4","f181b01a.2f9c6"]]},{"id":"58ec0f4a.a742c8","type":"comment","z":"f35459.79ad5ba8","name":"air quality","info":"","x":508,"y":1242,"wires":[]},{"id":"57cf07f0.74f2a8","type":"inject","z":"f35459.79ad5ba8","name":":","topic":"","payload":"{\"longitude\":7.250000, \"latitude\":43.700000,\"dateTime\":\"2019-01-10T19:00:00\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":498,"y":1282,"wires":[["583274a8.a52c7c","2a6c785.81b8b08"]]},{"id":"4ade88d6.890f4","type":"debug","z":"f35459.79ad5ba8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1518,"y":1222,"wires":[]},{"id":"ea16d9b1.315d4","type":"debug","z":"f35459.79ad5ba8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1018,"y":1222,"wires":[]},{"id":"2a6c785.81b8b08","type":"debug","z":"f35459.79ad5ba8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":718,"y":1222,"wires":[]},{"id":"32c475f1.049432","type":"json","z":"f35459.79ad5ba8","name":"","property":"payload","action":"","pretty":false,"x":1338,"y":1282,"wires":[["4ade88d6.890f4"]]},{"id":"52e16f53.513f48","type":"http request","z":"f35459.79ad5ba8","name":"","method":"GET","ret":"txt","url":"","tls":"","x":1178,"y":1462,"wires":[["4e385670.b56138"]]},{"id":"16b40d38.b103bb","type":"function","z":"f35459.79ad5ba8","name":"create request pollen quality","func":"//var api_key = flow.get(\"api_key\") || \"287aa53ac15f4f1881787c6fc2cd2ca3\"\nvar api_key =\"8c55f66ae6f1406f809f17a529ded06d\";\nvar longitude = String(msg.payload.longitude);\nvar latitude = String(msg.payload.latitude);\nvar dateTime = msg.payload.dateTime\nmsg.url = \"http://api.breezometer.com/pollen/real-time/?lat=\"+latitude+\"&lon=\"+longitude+\"&key=\"+api_key+\"&features=breezometer_aqi,local_aqi,pollutants_concentrations\";\nreturn msg;","outputs":1,"noerr":0,"x":828,"y":1462,"wires":[["e967a543.48bd1","52e16f53.513f48"]]},{"id":"4d3b4a3b.239ebc","type":"comment","z":"f35459.79ad5ba8","name":"pollen quality","info":"","x":518,"y":1422,"wires":[]},{"id":"cf72a05e.0153c8","type":"inject","z":"f35459.79ad5ba8","name":":","topic":"","payload":"{\"longitude\":7.250000, \"latitude\":43.700000,\"dateTime\":\"2019-01-10T19:00:00\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":498,"y":1462,"wires":[["16b40d38.b103bb","987a00c6.0551f"]]},{"id":"a53f7aed.6beff8","type":"debug","z":"f35459.79ad5ba8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1518,"y":1402,"wires":[]},{"id":"e967a543.48bd1","type":"debug","z":"f35459.79ad5ba8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1018,"y":1402,"wires":[]},{"id":"987a00c6.0551f","type":"debug","z":"f35459.79ad5ba8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":718,"y":1402,"wires":[]},{"id":"4e385670.b56138","type":"json","z":"f35459.79ad5ba8","name":"","property":"payload","action":"","pretty":false,"x":1338,"y":1462,"wires":[["a53f7aed.6beff8"]]},{"id":"144ae9f2.aa51fe","type":"http request","z":"f35459.79ad5ba8","name":"","method":"GET","ret":"txt","url":"","tls":"","x":1178,"y":1622,"wires":[["ce919800.9cd118"]]},{"id":"dfe7efc8.a776e","type":"function","z":"f35459.79ad5ba8","name":"create request meteo","func":"//var api_key = flow.get(\"api_key\") || \"287aa53ac15f4f1881787c6fc2cd2ca3\"\nvar api_key =\"8d9d34e9b2ae7df1709dc94ec3ce4206\";\nvar longitude = String(msg.payload.longitude);\nvar latitude = String(msg.payload.latitude);\nvar dateTime = msg.payload.dateTime;\nmsg.url = \"http://api.openweathermap.org/data/2.5/weather?lat=\"+latitude+\"&lon=\"+longitude+\"&APPID=\"+api_key;\nreturn msg;","outputs":1,"noerr":0,"x":808,"y":1622,"wires":[["bf9f6549.b17c7","144ae9f2.aa51fe"]]},{"id":"9154848f.6e938","type":"comment","z":"f35459.79ad5ba8","name":"meteo ","info":"","x":498,"y":1582,"wires":[]},{"id":"d6edae9.cf5fcd","type":"inject","z":"f35459.79ad5ba8","name":":","topic":"","payload":"{\"longitude\":7.250000, \"latitude\":43.700000,\"dateTime\":\"2019-01-10T19:00:00\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":498,"y":1622,"wires":[["dfe7efc8.a776e","e8ab7f53.1456"]]},{"id":"5536befc.cfa5c","type":"debug","z":"f35459.79ad5ba8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1518,"y":1562,"wires":[]},{"id":"bf9f6549.b17c7","type":"debug","z":"f35459.79ad5ba8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1018,"y":1562,"wires":[]},{"id":"e8ab7f53.1456","type":"debug","z":"f35459.79ad5ba8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":718,"y":1562,"wires":[]},{"id":"ce919800.9cd118","type":"json","z":"f35459.79ad5ba8","name":"","property":"payload","action":"","pretty":false,"x":1338,"y":1622,"wires":[["5536befc.cfa5c"]]},{"id":"d032a7f6.dd8f4","type":"http in","z":"f35459.79ad5ba8","name":"/sensors","url":"/sensors","method":"get","upload":false,"swaggerDoc":"","x":1396.7833251953125,"y":996.7833251953125,"wires":[["b4e07d2a.f7b948"]]},{"id":"79f43860.dffc98","type":"http response","z":"f35459.79ad5ba8","name":"","statusCode":"","headers":{"content-type":"application/json"},"x":2036.7833251953125,"y":997.7833251953125,"wires":[]},{"id":"b4e07d2a.f7b948","type":"function","z":"f35459.79ad5ba8","name":"Fetch global state","func":"msg.payload = {\n    light: flow.get(\"light\"),\n    weight: flow.get(\"weight\"),\n    temperature: flow.get(\"temperature\"),\n    humidity: flow.get(\"humidity\")\n}\nreturn msg;","outputs":1,"noerr":0,"x":1614.7833251953125,"y":997.7833251953125,"wires":[["56e933bd.3852fc"]]},{"id":"69802309.2b8514","type":"comment","z":"f35459.79ad5ba8","name":"API call on /sensors","info":"","x":1365.7833251953125,"y":951.7833251953125,"wires":[]},{"id":"56e933bd.3852fc","type":"json","z":"f35459.79ad5ba8","name":"","property":"payload","action":"","pretty":false,"x":1848.566650390625,"y":998.199951171875,"wires":[["79f43860.dffc98"]]},{"id":"27f12b0e.c64c8c","type":"lorawan-config","z":"","rawFrames":false,"mode":"2","modeP2P_radioPwr":"15","modeP2P_radioFreq":"868100000","modeP2P_radioSf":"sf12","modeP2P_radioCr":"4/5","modeP2P_radioBw":"125","modeP2P_radioCRC":"on","serialPort":"/dev/ttyAMA0","lock":true,"baudRate":"57600","dataBits":"8","stopBits":"1","parity":"none"}]
