nodered/flows/sensorplatform.json
[{"id":"a6dc7f9.3b0af","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4c786fa.732e71","type":"debug","z":"a6dc7f9.3b0af","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":745,"y":285,"wires":[]},{"id":"c1d396fd.cd88","type":"inject","z":"a6dc7f9.3b0af","name":"Radio TX","topic":"","payload":"radio tx 48656c6C6F","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":328,"y":282,"wires":[["4c786fa.732e71","3209ed5.370af92"]]},{"id":"4b72358d.fcccf4","type":"debug","z":"a6dc7f9.3b0af","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":751,"y":400,"wires":[]},{"id":"3209ed5.370af92","type":"lorawan-tx","z":"a6dc7f9.3b0af","name":"","loraWAN":"139d0861.eea5d8","x":759,"y":340,"wires":[]},{"id":"faa01a8f.b1e278","type":"lorawan-rx","z":"a6dc7f9.3b0af","name":"","loraWAN":"139d0861.eea5d8","x":318,"y":400,"wires":[["a00e5fc6.1ec0e"]]},{"id":"a00e5fc6.1ec0e","type":"function","z":"a6dc7f9.3b0af","name":"Convert to ASCII","func":"msg.payload = msg.payload.toString('ascii');\nreturn msg;","outputs":1,"noerr":0,"x":545,"y":400,"wires":[["4b72358d.fcccf4"]]},{"id":"ddcb2192.ec5408","type":"msgpack","z":"a6dc7f9.3b0af","name":"","x":531,"y":101,"wires":[["29f1160f.48cb1a"]]},{"id":"20a97165.c98266","type":"http in","z":"a6dc7f9.3b0af","name":"","url":"/sensors","method":"post","upload":false,"swaggerDoc":"","x":145,"y":518.9999942779541,"wires":[["878e78b5.31903","aafe0fed.0a718"]]},{"id":"f98a9b2e.24925","type":"trigger","z":"a6dc7f9.3b0af","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-10","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":134,"y":85,"wires":[["2935a7e9.af9808"]]},{"id":"2935a7e9.af9808","type":"function","z":"a6dc7f9.3b0af","name":"Fetch state","func":"msg.payload = [\n    flow.get(\"light\")||0,\n    flow.get(\"weight\")||0,\n    flow.get(\"Temperature\")||0,\n    flow.get(\"Humidity\")||0\n]\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":90,"wires":[["ddcb2192.ec5408","2a0a0302.f7a594"]]},{"id":"878e78b5.31903","type":"function","z":"a6dc7f9.3b0af","name":"","func":"let sensor = flow.get(msg.payload.type);\nsensor = msg.payload.value\nflow.set(msg.payload.type, sensor)\n//msg.payload = \"yes is working\"\nreturn msg;","outputs":1,"noerr":0,"x":406.00000762939453,"y":519.0000133514404,"wires":[["566eca6.3b266b4"]]},{"id":"5558acfa.14decc","type":"inject","z":"a6dc7f9.3b0af","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":"10","x":135.5,"y":136,"wires":[["2935a7e9.af9808"]]},{"id":"29f1160f.48cb1a","type":"function","z":"a6dc7f9.3b0af","name":"radio tx","func":"function toHexString(byteArray) {\n  return Array.from(byteArray, function(byte) {\n    return ('0' + (byte & 0xFF).toString(16)).slice(-2);\n  }).join('')\n}\n\nmsg.payload = \"radio tx \" + toHexString(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":719.5,"y":124,"wires":[["4b6fe883.2aac6","3209ed5.370af92"]]},{"id":"4b6fe883.2aac6","type":"debug","z":"a6dc7f9.3b0af","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":889.5,"y":113,"wires":[]},{"id":"2a0a0302.f7a594","type":"debug","z":"a6dc7f9.3b0af","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":562.5,"y":31,"wires":[]},{"id":"aafe0fed.0a718","type":"debug","z":"a6dc7f9.3b0af","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":408.01953125,"y":585.0038976669312,"wires":[]},{"id":"566eca6.3b266b4","type":"http response","z":"a6dc7f9.3b0af","name":"","statusCode":"","headers":{},"x":639.1367378234863,"y":520.648458480835,"wires":[]},{"id":"52fd82f5.0a7c44","type":"inject","z":"a6dc7f9.3b0af","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1046.5,"y":227,"wires":[["3f4d998b.76b6be"]]},{"id":"3f4d998b.76b6be","type":"function","z":"a6dc7f9.3b0af","name":"Inject sample data","func":"flow.set(\"light\", [2, 8.8, 9, -1]);\nflow.set(\"weight\", [42, 57, -3.3, 0]);\nflow.set(\"temperature\", [27, 40.5]);\nflow.set(\"humidity\", [50, 90.9]);\nreturn msg;","outputs":1,"noerr":0,"x":1250.5,"y":226,"wires":[[]]},{"id":"139d0861.eea5d8","type":"lorawan-config","z":"","rawFrames":false,"mode":"2","modeP2P_radioPwr":"15","modeP2P_radioFreq":"868100000","modeP2P_radioSf":"sf12","modeP2P_radioCr":"4/5","modeP2P_radioBw":"125","modeP2P_radioCRC":"on","serialPort":"/dev/ttyAMA0","lock":true,"baudRate":"57600","dataBits":"8","stopBits":"1","parity":"none"}]

