data-application/flows.json
[{"id":"bcd70330.d9a8c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8875b6d.aef6348","type":"http request","z":"bcd70330.d9a8c","name":"http://nodered:1880/sensors","method":"GET","ret":"txt","url":"http://nodered:1880/sensors","tls":"","x":460,"y":260,"wires":[["a8d5da13.61fc6"]]},{"id":"dd952323.c02ff","type":"inject","z":"bcd70330.d9a8c","name":"Call API","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":true,"onceDelay":0.1,"x":240,"y":260,"wires":[["8875b6d.aef6348"]]},{"id":"e71f87b2.cb85c","type":"http request","z":"bcd70330.d9a8c","name":"","method":"GET","ret":"txt","url":"https://api.thingspeak.com/update?api_key={{API_key}}&{{field1}}={{value1}}&{{field2}}={{value2}}&{{field3}}={{value3}}&{{field4}}={{value4}}&{{field5}}={{value5}}&{{field6}}={{value6}}&{{field7}}={{value7}}&{{field8}}={{value8}}&created_at={{creationdate}}","tls":"","x":1790,"y":60,"wires":[["dc8b9e08.43a2c"]]},{"id":"daa77ebb.9ea08","type":"change","z":"bcd70330.d9a8c","name":"Set ThingSpeak API key","rules":[{"t":"set","p":"API_key","pt":"msg","to":"T5Q5WLDQKSEOPBZL","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1530,"y":60,"wires":[["e71f87b2.cb85c","ead8701e.6c5e78"]]},{"id":"dc8b9e08.43a2c","type":"debug","z":"bcd70330.d9a8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2010,"y":60,"wires":[]},{"id":"5cf4ab87.0f9a84","type":"function","z":"bcd70330.d9a8c","name":"","func":"msg.field1 = \"field1\";\nmsg.value1 = msg.payload['temperature'][0];\nmsg.field2 = \"field2\";\nmsg.value2 = msg.payload['temperature'][1];\nmsg.field3 = \"field3\";\nmsg.value3 = msg.payload['humidity'][0];\nmsg.field4 = \"field4\";\nmsg.value4 = msg.payload['humidity'][1];\n\nmsg.field5 = \"field5\";\nmsg.value5 = msg.payload['light'][0];\nmsg.field6 = \"field6\";\nmsg.value6 = msg.payload['light'][1];\nmsg.field7 = \"field7\";\nmsg.value7 = msg.payload['light'][2];\nmsg.field8 = \"field8\";\nmsg.value8 = msg.payload['light'][3];\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":60,"wires":[["daa77ebb.9ea08"]]},{"id":"75963e63.0d73a8","type":"function","z":"bcd70330.d9a8c","name":"inject timestamp","func":"var date = new Date();\nmsg.creationdate = date.toISOString(); \nreturn msg;","outputs":1,"noerr":0,"x":920,"y":280,"wires":[["5cf4ab87.0f9a84","e5510307.0b13d8"]]},{"id":"801124fc.8bc6a","type":"debug","z":"bcd70330.d9a8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":120,"wires":[]},{"id":"a8d5da13.61fc6","type":"json","z":"bcd70330.d9a8c","name":"","property":"payload","action":"","pretty":false,"x":730,"y":260,"wires":[["75963e63.0d73a8","801124fc.8bc6a"]]},{"id":"e9028dbd.18a0e","type":"http request","z":"bcd70330.d9a8c","name":"","method":"GET","ret":"txt","url":"","tls":"","x":910,"y":1020,"wires":[["64b0d875.28f198"]]},{"id":"e75b8dee.fbc288","type":"function","z":"bcd70330.d9a8c","name":"create request air quality","func":"//var api_key = flow.get(\"api_key\") || \"287aa53ac15f4f1881787c6fc2cd2ca3\"\nvar date = new Date();\nvar dateTime = date.toISOString();\nvar api_key =\"8c55f66ae6f1406f809f17a529ded06d\";\nvar longitude = String(msg.payload.longitude);\nvar latitude = String(msg.payload.latitude);\nmsg.url = \"https://api.breezometer.com/air-quality/v2/historical/hourly?lat=\"+latitude+\"&lon=\"+longitude+\"&key=\"+api_key+\"&datetime=\"+dateTime+\"&features=breezometer_aqi,local_aqi,pollutants_concentrations\";\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1020,"wires":[["e9028dbd.18a0e","b56c4f20.a99b6"]]},{"id":"e78a0f8b.00ac38","type":"debug","z":"bcd70330.d9a8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1250,"y":960,"wires":[]},{"id":"64b0d875.28f198","type":"json","z":"bcd70330.d9a8c","name":"","property":"payload","action":"","pretty":false,"x":1070,"y":1020,"wires":[["e78a0f8b.00ac38","cc284484.f3a608"]]},{"id":"5f1bd8fd.32f25","type":"http request","z":"bcd70330.d9a8c","name":"","method":"GET","ret":"txt","url":"","tls":"","x":910,"y":1200,"wires":[["ff5bc994.86137"]]},{"id":"112dc16.374e33f","type":"function","z":"bcd70330.d9a8c","name":"create request pollen quality","func":"//var api_key = flow.get(\"api_key\") || \"287aa53ac15f4f1881787c6fc2cd2ca3\"\nvar api_key =\"8c55f66ae6f1406f809f17a529ded06d\";\nvar longitude = String(msg.payload.longitude);\nvar latitude = String(msg.payload.latitude);\nvar date = new Date();\nvar dateTime = date.toISOString();\nmsg.url = \"http://api.breezometer.com/pollen/real-time/?lat=\"+latitude+\"&lon=\"+longitude+\"&key=\"+api_key+\"&features=breezometer_aqi,local_aqi,pollutants_concentrations\";\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":1200,"wires":[["5f1bd8fd.32f25","9d33f303.862898"]]},{"id":"47896f71.f8ae9","type":"debug","z":"bcd70330.d9a8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1270,"y":1140,"wires":[]},{"id":"ff5bc994.86137","type":"json","z":"bcd70330.d9a8c","name":"","property":"payload","action":"","pretty":false,"x":1070,"y":1200,"wires":[["47896f71.f8ae9","df05196e.35b6c"]]},{"id":"ead8701e.6c5e78","type":"debug","z":"bcd70330.d9a8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1770,"y":140,"wires":[]},{"id":"5847a973.4d3928","type":"http request","z":"bcd70330.d9a8c","name":"","method":"GET","ret":"txt","url":"https://api.thingspeak.com/update?api_key={{API_key}}&{{field1}}={{value1}}&{{field2}}={{value2}}&{{field3}}={{value3}}&{{field4}}={{value4}}&created_at={{creationdate}}","tls":"","x":1790,"y":280,"wires":[["f558cba2.53a688"]]},{"id":"93e20118.f13e78","type":"change","z":"bcd70330.d9a8c","name":"Set ThingSpeak API key","rules":[{"t":"set","p":"API_key","pt":"msg","to":"2BP87CP5BXE7CCEA","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1530,"y":280,"wires":[["5847a973.4d3928","9d67b1d5.c61808"]]},{"id":"f558cba2.53a688","type":"debug","z":"bcd70330.d9a8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2050,"y":320,"wires":[]},{"id":"e5510307.0b13d8","type":"function","z":"bcd70330.d9a8c","name":"","func":"\n//fields to remember\nmsg.field1 = \"field1\";\nmsg.value1 = msg.payload['weight'][0];\nmsg.field2 = \"field2\";\nmsg.value2 = msg.payload['weight'][1];\nmsg.field3 = \"field3\";\nmsg.value3 = msg.payload['weight'][2];\nmsg.field4 = \"field4\";\nmsg.value4 = msg.payload['weight'][3];\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":280,"wires":[["93e20118.f13e78"]]},{"id":"9d67b1d5.c61808","type":"debug","z":"bcd70330.d9a8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1770,"y":380,"wires":[]},{"id":"8fe483c6.b94ef","type":"comment","z":"bcd70330.d9a8c","name":"E-Hive1","info":"","x":1170,"y":20,"wires":[]},{"id":"9d33f303.862898","type":"debug","z":"bcd70330.d9a8c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":750,"y":1140,"wires":[]},{"id":"b56c4f20.a99b6","type":"debug","z":"bcd70330.d9a8c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":750,"y":960,"wires":[]},{"id":"db028c84.7d4ff8","type":"comment","z":"bcd70330.d9a8c","name":"air quality","info":"","x":240,"y":980,"wires":[]},{"id":"21aa9e1.1f245e2","type":"inject","z":"bcd70330.d9a8c","name":":","topic":"","payload":"{\"longitude\":7.250000, \"latitude\":43.700000,\"dateTime\":\"2019-01-10T19:00:00\"}","payloadType":"json","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1020,"wires":[["e75b8dee.fbc288","8c2f8d0a.8efde"]]},{"id":"8c2f8d0a.8efde","type":"debug","z":"bcd70330.d9a8c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":450,"y":960,"wires":[]},{"id":"1c7baa0e.6af75e","type":"debug","z":"bcd70330.d9a8c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":450,"y":1140,"wires":[]},{"id":"517aefcf.d9e","type":"inject","z":"bcd70330.d9a8c","name":":","topic":"","payload":"{\"longitude\":7.250000, \"latitude\":43.700000,\"dateTime\":\"2019-01-10T19:00:00\"}","payloadType":"json","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1200,"wires":[["112dc16.374e33f","1c7baa0e.6af75e"]]},{"id":"1f6d5ec8.5bc549","type":"comment","z":"bcd70330.d9a8c","name":"pollen quality","info":"","x":250,"y":1160,"wires":[]},{"id":"92382b2e.52f1c","type":"function","z":"bcd70330.d9a8c","name":"get info","func":"flow.set(\"weather_cloud\",msg.payload.clouds.all);\nflow.set(\"weather_wind\",msg.payload.wind.speed);\nreturn msg;","outputs":1,"noerr":0,"x":1260,"y":1300,"wires":[[]]},{"id":"5074b96f.d815b8","type":"comment","z":"bcd70330.d9a8c","name":"méteo API","info":"","x":220,"y":1260,"wires":[]},{"id":"74ba4e73.30f8d","type":"http request","z":"bcd70330.d9a8c","name":"","method":"GET","ret":"txt","url":"","tls":"","x":910,"y":1300,"wires":[["11960fe5.db5ea"]]},{"id":"49ea271a.9e362","type":"function","z":"bcd70330.d9a8c","name":"create request meteo","func":"//var api_key = flow.get(\"api_key\") || \"287aa53ac15f4f1881787c6fc2cd2ca3\"\nvar api_key =\"8d9d34e9b2ae7df1709dc94ec3ce4206\";\nvar longitude = String(msg.payload.longitude);\nvar latitude = String(msg.payload.latitude);\nvar date = new Date();\nvar dateTime = date.toISOString();\nmsg.url = \"http://api.openweathermap.org/data/2.5/weather?lat=\"+latitude+\"&lon=\"+longitude+\"&APPID=\"+api_key;\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":1300,"wires":[["74ba4e73.30f8d"]]},{"id":"11960fe5.db5ea","type":"json","z":"bcd70330.d9a8c","name":"","property":"payload","action":"","pretty":false,"x":1070,"y":1300,"wires":[["92382b2e.52f1c"]]},{"id":"c8367f89.f1f1f8","type":"inject","z":"bcd70330.d9a8c","name":":","topic":"","payload":"{\"longitude\":7.250000, \"latitude\":43.700000,\"dateTime\":\"2019-01-10T19:00:00\"}","payloadType":"json","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":1300,"wires":[["49ea271a.9e362"]]},{"id":"df05196e.35b6c","type":"function","z":"bcd70330.d9a8c","name":"get info","func":"flow.set(\"pollen_tree\",msg.payload.pollens.tree.count);\nflow.set(\"pollen_grass\",msg.payload.pollens.grass.count);\nreturn msg;","outputs":1,"noerr":0,"x":1260,"y":1200,"wires":[[]]},{"id":"cc284484.f3a608","type":"function","z":"bcd70330.d9a8c","name":"get info","func":"flow.set(\"pollutants_co\",msg.payload.data.pollutants.co.concentration.value);\nflow.set(\"pollutants_no2\",msg.payload.data.pollutants.no2.concentration.value);\nflow.set(\"pollutants_o3\",msg.payload.data.pollutants.o3.concentration.value);\nflow.set(\"pollutants_pm10\",msg.payload.data.pollutants.pm10.concentration.value);\nflow.set(\"pollutants_pm25\",msg.payload.data.pollutants.pm25.concentration.value);\nflow.set(\"pollutants_so2\",msg.payload.data.pollutants.so2.concentration.value);\n\nreturn msg;","outputs":1,"noerr":0,"x":1260,"y":1020,"wires":[[]]},{"id":"2ca7a973.f5b5c6","type":"http request","z":"bcd70330.d9a8c","name":"","method":"GET","ret":"txt","url":"https://api.thingspeak.com/update?api_key={{API_key}}&{{field1}}={{value1}}&{{field2}}={{value2}}&{{field3}}={{value3}}&{{field4}}={{value4}}&{{field5}}={{value5}}&{{field6}}={{value6}}&{{field7}}={{value7}}&{{field8}}={{value8}}&created_at={{creationdate}}","tls":"","x":1450,"y":520,"wires":[["51071c9d.501d54"]]},{"id":"e5954960.45b398","type":"change","z":"bcd70330.d9a8c","name":"Set ThingSpeak API key","rules":[{"t":"set","p":"API_key","pt":"msg","to":"OENRD4F7ITFILNZV","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":520,"wires":[["2ca7a973.f5b5c6","769b8d45.d65e74"]]},{"id":"51071c9d.501d54","type":"debug","z":"bcd70330.d9a8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1710,"y":560,"wires":[]},{"id":"194a1ad5.5dc105","type":"function","z":"bcd70330.d9a8c","name":"","func":"//fields to remember\nmsg.field1 = \"field1\";\nmsg.value1 =flow.get(\"pollutants_co\")||-1;;\nmsg.field2 = \"field2\";\nmsg.value2 = flow.get(\"pollutants_no2\")||-1;;\nmsg.field3 = \"field3\";\nmsg.value3 = flow.get(\"pollutants_o3\")||-1;;\nmsg.field4 = \"field4\";\nmsg.value4 = flow.get(\"pollutants_pm10\")||-1;;\nmsg.field5 = \"field5\";\nmsg.value5 = flow.get(\"pollutants_pm25\")||-1;\nmsg.field6 = \"field6\";\nmsg.value6 = flow.get(\"pollutants_so2\")||-1;\nmsg.field7 = \"field7\";\nmsg.value7 = flow.get(\"pollen_tree\")||-1;\nmsg.field8 = \"field8\";\nmsg.value8 = flow.get(\"pollen_grass\")||-1;\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":520,"wires":[["e5954960.45b398"]]},{"id":"769b8d45.d65e74","type":"debug","z":"bcd70330.d9a8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1430,"y":600,"wires":[]},{"id":"b8fa750.77e3e88","type":"comment","z":"bcd70330.d9a8c","name":"E-Hive2","info":"","x":1170,"y":240,"wires":[]},{"id":"1dbc550a.b90f9b","type":"comment","z":"bcd70330.d9a8c","name":"E-Hive3","info":"","x":830,"y":480,"wires":[]},{"id":"a2c0a4cc.8f6408","type":"http request","z":"bcd70330.d9a8c","name":"","method":"GET","ret":"txt","url":"https://api.thingspeak.com/update?api_key={{API_key}}&{{field1}}={{value1}}&{{field2}}={{value2}}&created_at={{creationdate}}","tls":"","x":1450,"y":700,"wires":[["4f05f866.0a7cf8"]]},{"id":"607869fd.4698a8","type":"change","z":"bcd70330.d9a8c","name":"Set ThingSpeak API key","rules":[{"t":"set","p":"API_key","pt":"msg","to":"N9GSBGIDQQ3LAJVA","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":700,"wires":[["a2c0a4cc.8f6408","19e83305.230aad"]]},{"id":"4f05f866.0a7cf8","type":"debug","z":"bcd70330.d9a8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1710,"y":740,"wires":[]},{"id":"4f9664ba.0906bc","type":"function","z":"bcd70330.d9a8c","name":"","func":"msg.field1 = \"field1\";\nmsg.value1 = flow.get(\"weather_cloud\")||-1;\nmsg.field2 = \"field2\";\nmsg.value2 = flow.get(\"weather_wind\")||-1;\n/*msg.field3 = \"field3\";\nmsg.value3 = flow.get(\"weather_sunrise\")||\"\";\nmsg.field4 = \"field4\";\nmsg.value4 = flow.get(\"weather_sunset\")||\"\";\n*/\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":700,"wires":[["607869fd.4698a8"]]},{"id":"19e83305.230aad","type":"debug","z":"bcd70330.d9a8c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1430,"y":780,"wires":[]},{"id":"52b7d90d.5054a8","type":"comment","z":"bcd70330.d9a8c","name":"E-Hive4","info":"","x":830,"y":660,"wires":[]},{"id":"e5a0ccb5.25148","type":"comment","z":"bcd70330.d9a8c","name":"API Request every hour","info":"","x":260,"y":900,"wires":[]},{"id":"27af66ff.4924aa","type":"inject","z":"bcd70330.d9a8c","name":"Call API","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":true,"onceDelay":0.1,"x":260,"y":600,"wires":[["194a1ad5.5dc105","4f9664ba.0906bc"]]}]
